/*html{*/
    /*width: 100%;*/
    /*overflow-x: hidden;*/
    /*height: 100%;*/
/*}*/
html {
    font-size: 100px;
    font-size: calc(1000vw / 32);
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    overflow-x: hidden;

}
body {
    margin: 0;
    padding: 0;
    font: normal .14em/1.6 "Microsoft YaHei", Verdana, Tahoma;
}
ul, li, dl, dt, dd, ol, h1, h2, h3, h4, h5, h6, p ,span{
    padding: 0;
    margin: 0;
    font-weight: normal
}

ul, ol {
    list-style-type: none
}

a img {
    border: 0
}
#qrcode img{
    display: table;
    margin: 0 auto;
}
#qrcodeTest img{
    display: table;
    margin: 0 auto;
}
ul li{
    padding-right: 1.4rem;
}
#langBox{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    width: 8.5rem
}
#myTab{
    text-align: center;
    display: flex;
    justify-content: center;
    background: #000;
    padding: .5rem;
}
#myTab li a{
    color: #fff;
}
.form-control{
    margin-right: .2rem;
}
.input-group{
    margin:1rem 0;
}
#qrcode{
    padding-top:1rem;
}
.row{
    justify-content: center;
}
.alerts{
    text-align: center;
}
.button{
    background-color: #28a745!important;;
    border: 0.1rem solid #28a745!important;;
    color: #fff!important;
}
select{
    margin-bottom: 0!important;
}
button{
    background-color: #28a745!important;;
    border: 0.1rem solid #28a745!important;;
    color: #fff!important;
}
.input-group{
    align-items: center;
}
.content{
    /*display: flex;*/
    display: none;
}
.contentTest{
    /*display: flex;*/
    display: none;
}
.content .progress{
    margin-right: 2rem;
}
.contentDetail{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.weight{
    font-weight: 600;
}
button{
    margin-bottom: 0!important;
}
.blockNone{
    display: none;
}
.flexRight{
    justify-content: right;
}
select{
    height: 2.8rem!important;
}
.center{
    text-align: center;
}
.githubPic{
    width: 1.5rem;
     padding-bottom: .3rem;
}
.contentDetailDesc{
    margin: 1rem 0;
    padding: 1rem;
}