#qrcode img{
    display: table;
    margin: 0 auto;
}
#qrcodeTest img{
    display: table;
    margin: 0 auto;
}
ul li{
    padding-right: 1.4rem;
}
#langBox{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 12rem
}
#myTab{
    text-align: center;
    display: flex;
    justify-content: center;
    background: #000;
    padding: .5rem;
}
#myTab li a{
    color: #fff;
}
.form-control{
    margin-right: .2rem;
}
.input-group{
    margin:1rem 0;
}
#qrcode{
    padding-top:1rem;
}
.row{
    justify-content: center;
}
.alerts{
    text-align: center;
}
.button{
    background-color: #28a745!important;;
    border: 0.1rem solid #28a745!important;;
    color: #fff!important;
}
select{
    margin-bottom: 0!important;
}
button{
    background-color: #28a745!important;;
    border: 0.1rem solid #28a745!important;;
    color: #fff!important;
}
.input-group{
    align-items: center;
}
.content{
    /*display: flex;*/
    display: none;
}
.contentTest{
    /*display: flex;*/
    display: none;
}
.content .progress{
    margin-right: 2rem;
}
.contentDetail{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.weight{
    font-weight: 600;
}
button{
    margin-bottom: 0!important;
}
.blockNone{
    display: none;
}
.flexRight{
    justify-content: right;
}